/* COMMON */
body{
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
.inner {
  width: 1240px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .6s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--gold {
  border: 2px solid #d5a012;
  color: #d5a012;
}
.btn.btn--gold:hover {
  background-color: #d5a012;
  color: #fff;
}
.btn.btn--white {
  border: 2px solid #ddd;
  color: #ddd;
}
.btn.btn--white:hover {
  background-color: rgba(255, 255, 255, .2);
}
.back-to-position {
  opacity: 0;
  transition: 1.5s;
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: .3s;
}
.show .back-to-position.delay-2 {
  transition-delay: .6s;
}
.back-to-opacity {
  opacity: 0;
  transition: 1.5s;
}
.show .back-to-opacity {
  opacity: 1;
}


/* HEADER */
header {
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  z-index: 2;
}
header > .inner {
  width: 1200px;
  height: 120px;
}
header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0; 
  margin: auto;
}
header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: '';
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}
header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  cursor: pointer;
}
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #669900;
}
header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url(../images/main_menu_pattern.jpg);
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}
header .badges {
  position: absolute;
  top: 153px;
  right: 2vw;
}
header .badges .badge{
  cursor: pointer;
}


/* VISUAL */
.visual {
  margin-top: 120px;
  background-image: url(../images/visual_bg.jpg);
  background-position: center;
}
.visual .inner {
  height: 646px;
  position: relative;
}
.visual .title {
  position: absolute;
  top: 88px;
  left: -20px;
  z-index: 1;
}
.visual .btn {
  position: absolute;
  top: 250px;
  left: 100px;
}
.visual .cup1 {
  position: absolute;
  bottom: 20px;
  left: -20px;
}
.visual .cup2 {
  position: absolute;
  top: 20%;
  left: 583px;
}
.visual .cup3 {
  position: absolute;
  bottom: 20px;
  right: -100px;
}
.visual .fade-in {
  opacity: 0;
}


/* NOTICE */
.notice .notice-line {
  position: relative;
}
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111;
}
.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
.notice .notice-line .inner {
  height: 62px;
  display: flex;
}
.notice .notice-line .inner .inner__left {
  width: 60%;
  height: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .notice-line .inner .inner__left .swiper {
  height: 62px;
  flex-grow: 1;
}
.notice .notice-line .inner .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner .inner__left .swiper-slide a {
  color: #fff;
}
.notice .notice-line .inner .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 33px;
}
.notice .notice-line .inner .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notice .notice-line .inner .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
  margin-right: 130px;
}
.notice .notice-line .inner .inner__right .toggle-promotion {
  width: 32px;
  height: 32px;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}
.notice .promotion {
  height: 0;
  background-color: #f6f5ef;
  position: relative;
  overflow: hidden;
  transition: height .4s;
  overflow: hidden;
}
.notice .promotion.show {
  height: 693px;
}
.notice .promotion .swiper {
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}
.notice .promotion .swiper-slide {
  opacity: .4;
  transition: opacity 1s;
  position: relative;
}
.notice .promotion .swiper-slide-active {
  opacity: 1;
}
.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url(../images/promotion_slide_pager.png);
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url(../images/promotion_slide_pager_on.png);
}
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.notice .promotion .swiper-prev .material-icons {
  margin-left: 10px;
}
.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #fff;
}

/* REWARDS */
.rewards {
  width: 100%;
  padding: 30px 0 40px 0;
  background-color: #1e3932;
  color: #fff;
}
.rewards .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rewards .rewards__logo {
  width: 200px;
  padding: 0 50px;
}
.rewards .rewards__logo img {
  width: 100%;
}
.rewards .rewards__cont {
  flex-grow: 1;
  padding-right: 30px;
}
.rewards .rewards__cont .info-cont {
  padding-bottom: 20px;
  border-bottom: 1px solid #aaa;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.rewards .rewards__cont .info-cont .info-cont__txt h2 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  font-weight: 700;
}
.rewards .rewards__cont .info-cont .info-cont__txt p {
  font-size: 1.1rem;
}
.rewards .rewards__cont .info-cont .info-cont__txt strong {
  font-weight: 700;
}
.rewards .rewards__cont .info-cont .info-cont__btn {
  display: flex;
}
.rewards .rewards__cont .info-cont .info-cont__btn .btn-sign-up {
  display: block;
  padding: 10px 28px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #026818;
}
.rewards .rewards__cont .info-cont .info-cont__btn .btn-sign-in {
  display: block;
  padding: 10px 25px;
  border-radius: 5px;
  border: 2px solid #fff;
}
.rewards .rewards__cont .gift-cont {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rewards .rewards__cont .gift-cont strong {
  font-weight: 700;
}
.rewards .rewards__cont .btn {
  flex-grow: 1;
  margin-left: 50px;
}

/* BLEND */
.blend {
  width: 100%;
  height: 573px;
  background-image: url(../images/blend_bg.jpg);
  position: relative;
}
.blend .blend__bg-l {
  width: 499px;
  height: 573px;
  background: url(../images/blend_bg_l.png) no-repeat;
}
.blend .blend__bg-r {
  width: 431px;
  height: 573px;
  background: url(../images/blend_bg_r.png) no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}
.blend .inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.blend .blend__image {
  margin-left: 60px;
}
.blend .blend__text img {
  margin-bottom: 50px;
}

/* RESERVE */
.reserve .reserve__cont {
  width: 100%;
  height: 400px;
  background-color: #094a3d;
  overflow: hidden;
  position: relative;
}
.reserve .reserve__cont .reserve-bg {
  height: 100%;
}
.reserve .reserve__cont .reserve-info {
  position: absolute;
  top: 124px;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reserve .reserve__cont .reserve-info .btn {
  transform: translateX(100px);
}

/* PICK YOUR FAVORITE */
.pick-your-favorite {
  background: url(../images/favorite_bg.jpg) no-repeat center / cover;
  background-attachment: fixed;
}
.pick-your-favorite .inner {
  padding: 110px 0;
  display: flex;
}
.pick-your-favorite .inner .text-group {
  margin-left: 100px;
  width: 362px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.pick-your-favorite .inner .text-group .title {
  margin-bottom: 40px;
}
.pick-your-favorite .inner .text-group .description {
  margin-bottom: 40px;
}
.pick-your-favorite .inner .image {
  position: absolute;
  right: 0;
}

/* RESERVE MAGAZINE */
.reserve-magazine {
  height: 400px;
  background: url(../images/reserve_bg_pc.png) no-repeat -60px 50px;
}
.reserve-magazine .inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-magazine .inner .magazine-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reserve-magazine .inner .magazine-txt .text {
  margin: 30px 50px 30px 0;
}

/* FIND STORE */
.find-store {
  background-image: url(../images/find_store_bg.jpg);
}
.find-store .inner {
  height: 400px;
}
.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 450px;
}
.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.find-store .picture1 {
  position: absolute;
  top: 0;
  left: 100px;
}
.find-store .picture2 {
  position: absolute;
  top: 150px;
  left: 350px;
}
.find-store .text-group {
  position: absolute;
  top: 120px;
  right: 150px;
}
.find-store .text-group .title {
  margin-bottom: 20px;
}
.find-store .text-group .description {
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  background-color: #2c2c2c;
}
footer .logo {
  position: absolute;
  top: 30px;
  right: 0;
}
footer .footer-menu {
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
}
footer .footer-menu .title {
  font-size: 13px;
  font-weight: 700;
  color: #eee;
}
footer .footer-menu .title ul li {
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}
footer .footer-menu .title ul li:first-child {
  margin-top: 15px;
}
footer .footer-award {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 20px;
  background-color: #282828;
  display: flex;
  justify-content: center;
  position: relative;
}
footer .footer-notice .menu {
  display: flex;
  justify-content: center;
}
footer .footer-notice .menu li a {
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  border-right: 1px solid #333;
  padding: 0 15px;
}
footer .footer-notice .menu li:last-child a {
  border: 0;
}
footer .footer-notice .menu li .green {
  color: #669900;
}
footer .footer-notice .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .footer-notice .btn-group .btn {
  font-size: 12px;
  margin-right: 10px;
}
footer .footer-notice .btn-group .btn:last-child {
  margin-right: 0;
}
footer .footer-notice .info {
  margin-top: 30px;
  text-align: center;
}
footer .footer-notice .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .footer-notice .info span:last-child {
  margin-right: 0;
}
footer .footer-notice .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
  padding-bottom: 50px;
}


#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}
