/* 
스타벅스 클론코딩 
제작자 : haze
마지막 수정일 : 2021-10-19
*/
:root {
  --back-color: #f6f5ef;
  --primaty-color: #1e3932;
  --mo-menu-color: #2d2926;
  --mo-menu-back-color: #111;
  --mo-sub-back-color: #222;
  --text-color: #eee;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  background-color: transparent;
  color: inherit;
  outline: none;
  border: 0;
  cursor: pointer;
}
input {
  outline: none;
  border: 0;
}
.a11y {
  /* Remove the item from normal flow */
  position: absolute;
  /* Workaround for falsely pronounced, smushed text */
  white-space: nowrap;
  /* Set it to the smallest possible size (some screen readers ignore elements with zero height and width) */
  width: 1px;
  height: 1px;
  /* Hide overflowing content after resizing */
  overflow: hidden;
  /* Reset any property that may change the elements size */
  border: 0;
  padding: 0;
  /* Clipping defines what part of an element should be displayed. */
  /* Deprecated clip property for older browsers */
  clip: rect(0 0 0 0);
  /* clip-path for newer browsers. inset(50%) defines an inset rectangle that makes the content disappear. */
  clip-path: inset(50%);
  /* It seems like at the moment nobody is quite sure why margin: -1px is there. On top of that it seems to cause issues (see: https://github.com/h5bp/html5-boilerplate/issues/1985). */
  margin: -1px;
}
/* mobile */
#header {
  width: 100%;
  height: 70px;
  background-color: var(--back-color);
}
.header-wrap {
  width: 100%;
  height: 100%;
  display: flex;
}
.logo {
  width: 45px;
  height: 45px;
  align-self: center;
}
.logo img {
  width: 100%;
}
.util-pc {
  display: none;
}
.util-mo {
  justify-self: flex-end;
}
/* slide menu */
.mo-cls-btn {
  font-size: 50px;
  font-weight: bold;
  position: fixed;
  top: 30px;
  right: 70%;
  cursor: pointer;
  transition: transform 0.8s;
}
.mo-cls-btn:hover {
  display: block;
  transform: rotate(180deg);
}
.search {
  width: 65%;
  height: 190px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--mo-menu-color);
  color: var(--text-color);
  z-index: 1;
}
.search-wrap {
  width: 100%;
  height: 110px;
  border-bottom: 1px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-input {
  width: 58%;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}
.search-btn {
  width: 30%;
  height: 50px;
  background-color: #666;
  font-size: 20px;
  border-radius: 5px;
}
.search-btn:hover {
  text-decoration: underline;
}
.search-icon {
  display: none;
}
.mo-my > li {
  width: 100%;
  height: 80px;
  margin: auto;
  line-height: 80px;
  border-bottom: 1px solid #666;
}
.mo-my > li:first-child {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.2rem;
}
.mo-my > li:first-child .more-arrow {
  margin-right: 5%;
}
.mo-my > li span:first-child {
  margin-left: 10%;
}
.mo-sub {
  position: relative;
}
.mo-my .mo-sub .more-arrow {
  color: var(--text-color);
  opacity: 0.5;
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}
.sub-my {
  width: 100%;
  display: none;
}
.sub-my li {
  width: 100%;
  height: 40px;
  padding-left: 15%;
  line-height: 40px;
  background-color: var(--mo-sub-back-color);
}
.sub-my li:hover {
  text-decoration: underline;
}
.mo-my .sub-tit .more-arrow {
  font-size: 50px;
}
.mo-my > li:not(.sub-tit) {
  display: none;
}
.gnb {
  width: 65%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--mo-menu-back-color);
  color: var(--text-color);
  font-size: 1.2rem;
}
.gnb-wrap {
  width: 100%;
  height: calc(100vh - 190px);
  margin-top: 190px;
}
.gnb-wrap li {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #333;
  line-height: 80px;
}
.sub-menu li {
  background-color: #222;
}
.text-wrap {
  display: none;
}
